.header {
	background-color: $col-header-bg;
	border: 1px solid $col-header-border;
	padding-bottom: 55px;
	&__nav {
		background-color: $col-nav-bg;
		border: 1px solid $col-nav-border;
		border-top-width: 0;
		margin: 0 auto 20px auto;
		padding: 11px 62px;
		width: 542px;
		a {
			color: $col-nav-link;
			display: inline-block;
			font-family: $header-font-family;
			font-size: 0.9em;
			padding: 15px;
			text-transform: uppercase;
		}
	}

	&__img {
		&--leaf {
			@include breakpoint(medium) {
				
			}
			@include breakpoint(65em) {
				width: auto;
			}
		}
		&--logo {
			/*position: absolute;
			right: 0;
			transform: translateY(-50%);
			top: 50%;*/
			padding-top: 27%;
			padding-bottom: 31%;
			@include breakpoint(25em) {
				max-width: 325px;
				padding-top: 88px;
				padding-bottom: 100px;
			}
			@include breakpoint(medium) {
				max-width: 100%;
				padding-top: 33%;
				padding-bottom: 0;
			}
		}
	}
	.wrapper {
		background-image: url('/img/leaf-background-grey.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		@include breakpoint(medium) {
			background: none;
		}
	}
	.half-column--left {
		display: none;
		@include breakpoint(medium) {
			display: block;
		}
	}
	.half-column--right {
		text-align: center;
		@include breakpoint(medium) {
			text-align: right;
		}
	}
}