.list-box-table {
	@include breakpoint(medium) {
		border-spacing: 20px 0;
		display: table;
		margin: 0px -20px;
	}
}
.list-box {
	border-radius: 5px;
	border: 1px solid $col-listbox-border;
	position: relative;
	margin-bottom: 55px;
	@include breakpoint(medium) {
		display: table-cell;
		width: 50%;
	}
	&--summer {
		.list-box {
			&__title {
				background-color: $col-listbox-heading-bg-summer;
			}
			&__icon {
				@include vector-image('/img/dark-green-leaf.svg', '/img/dark-green-leaf.png');
				background-color: $col-section-alt-bg;
				background-size: 50%;
			}
		}
	}
	&--summer,
	&--spring {
		padding-bottom: 50px;
	}

	&__title {
		background-color: $col-listbox-heading-bg-spring;
		border-radius: 3px;
		color: $col-listbox-heading;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		padding: 14px 0px;
	}
	&__items {
		margin: 30px auto;
		max-width: 90%;
		overflow: hidden;
		li {
			float: left;
			width: 50%;
			&:nth-child(odd) {
				padding-right: 10px;
			}
		}
	}
	&__icon {
		@include vector-image('/img/light-green-leaf.svg', '/img/light-green-leaf.png');
		background-color: $col-section-alt-bg;
		background-size: 50%;
		border: 1px solid $col-listbox-border;
		border-radius: 50px;
		bottom: -50px;
		left: 0;
		height: 100px;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 100px;
	}

	&__rating-list {
		margin-top: 40px;
		text-align: center;
	}

	&__rating {
		display: inline-block;
		width: 25px;
	}

	&__text {
		font-size: 1.35em;
  		margin: 40px auto 0 auto;
  		text-align: center;
		width: 89%;
	}

	&__footer {
		color: $col-listbox-footer;
		font-family: $header-font-family;
		font-size: 1em;
		margin: 50px 0 40px 0;
		text-align: center;
		text-transform: uppercase;
	}

}