/* COLOURS - http://chir.ag/projects/name-that-color/
------------------------------------------ */

$col-white: #ffffff;
$col-black: #000000;
$col-alabaster: #fafafa;
$col-alto: #dbd9d9;
$col-fuscous-gray: #545041;
$col-dove-gray: #636363;
$col-mine-shaft: #333333;
$col-chelsea-cucumber: #6BA74A;
$col-hippie-green: #5F8B46;
$col-scorpion: #5d5d5d;
$col-nobel: #b5b4b4;
$col-chambray: #3B5998;
$col-golden-grass: #E2A72F;
$col-flush-mahogany: #cd3e3f;

$col-standard: $col-mine-shaft;
$col-heading: $col-dove-gray;
$col-link: $col-chambray;
$col-link-hover: $col-alto;
$col-submit: $col-white;
$col-submit-hover: $col-chelsea-cucumber;

// Global Blocks
$col-cta-button: $col-white;
$col-cta-button-bg: $col-chambray;
$col-cta-button-hover: $col-golden-grass;
$col-cta-button-active: $col-black;

//Header
$col-header-bg: $col-alabaster;
$col-header-border: $col-alto;

// Nav
$col-nav-bg: $col-white;
$col-nav-toggle-bg: $col-scorpion;
$col-nav-border: $col-alto;
$col-nav-link: $col-fuscous-gray;
$col-nav-link-toggle: $col-white;


// Sections
$col-section-alt-bg: $col-alabaster;

// List box
$col-listbox-border: $col-alto;
$col-listbox-heading-bg-spring: $col-chelsea-cucumber;
$col-listbox-heading-bg-summer: $col-hippie-green;
$col-listbox-heading: $col-white;
$col-listbox-footer: $col-nobel;

// Image box
$col-imagebox-like-bg: $col-alabaster;
$col-imagebox-like: $col-chambray;

$col-contact-details: $col-scorpion;
$col-contact-form-error: $col-flush-mahogany;



/* WEIGHTS
------------------------------------------ */

$weight-light: 100;
$weight-regular: 400;
$weight-bold: 600;


/* BASE FONTS
------------------------------------------ */

$base-font-family: 'Neuton', serif;;
$base-font-weight: $weight-regular;
$base-font-size: 1em;
$base-line-height: 1.4;


/* HEADER FONTS
------------------------------------------ */

$header-font-family: 'Montserrat', sans-serif;

$cta-font-family: 'Montserrat', sans-serif;