/* COLOURS - http://chir.ag/projects/name-that-color/
------------------------------------------ */

$col-white: #ffffff;
$col-alabaster: #fafafa;
$col-alto: #dbd9d9;
$col-fuscous-gray: #545041;
$col-dove-gray: #636363;
$col-mine-shaft: #333333;

$col-standard: $col-mine-shaft;
$col-heading: $col-dove-gray;
$col-link: $col-alto;
$col-link-hover: $col-alto;

//Header
$col-header-bg: $col-alabaster;
$col-header-border: $col-alto;

// Nav
$col-nav-bg: $col-white;
$col-nav-border: $col-alto;
$col-nav-link: $col-fuscous-gray;

// Sections
$col-section-services: $col-alabaster;


/* WEIGHTS
------------------------------------------ */

$weight-light: 100;
$weight-regular: 400;
$weight-bold: 600;


/* BASE FONTS
------------------------------------------ */

$base-font-family: 'Neuton', serif;;
$base-font-weight: $weight-regular;
$base-font-size: 1em;
$base-line-height: 1.4;


/* HEADER FONTS
------------------------------------------ */

$header-font-family: 'Montserrat', sans-serif;